<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>Label</key>
    <string>local.imapnotify.{{ .Profile.Name }}</string>
    <key>ProgramArguments</key>
    <array>
      <string>{{ .Cfg.BinDir }}/goimapnotify</string>
      <string>-conf</string>
      <string>{{ .CfgDir }}/imapnotify/{{ .Profile.Name }}/notify.conf</string>
    </array>
    <key>EnvironmentVariables</key>
    <dict>
      <key>PATH</key>
      <string>/bin:/usr/bin:/usr/local/bin:{{ .Cfg.BinDir }}</string>
    </dict>
    <key>RunAtLoad</key>
    <true/>
    <key>KeepAlive</key>
    <dict>
      <key>SuccessfulExit</key>
      <true/>
    </dict>
    <key>ExitTimeOut</key>
    <integer>0</integer>
    <key>ProcessType</key>
    <string>Interactive</string>
  </dict>
</plist>
