[Unit]
Description=mbsync service, sync all mail
Documentation=man:mbsync(1)
ConditionPathExists=%h/.mbsyncrc

[Service]
Environment="PATH={{.BinDir}}:/bin:/usr/bin"
Type=oneshot
ExecStart={{.BinDir}}/syncmail.sh

[Install]
WantedBy=mail.target
